@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Cariler</h1>
<br />
<table class="table table-hover">

    <tr>
        <th>AD-SOYAD</th>
        <th>ŞEHİR</th>
        <th>MAIL</th>
        <th>İŞLEMLER</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.CariAd @k.CariSoyad</td>
            <td>@k.CariSehir</td>
            <td>@k.CariMail</td>
            <td>
                <a href="/Cari/CariSil/@k.CariID" class="btn btn-danger">Sil</a>
                <a href="/Cari/CariGetir/@k.CariID" class="btn btn-success">Güncelle</a>
                <a href="/Cari/MusteriSatis/@k.CariID" class="btn btn-info">Satış Geçmişi</a>
            </td>
        </tr>
    }
</table>

<a href="/Cari/CariEkle" class="btn btn-primary">Cari Ekle</a>

