
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" />
        <input type="submit" value="QR oluştur" />
    }

    @if(ViewBag.karekodimage!=null)
            {
<img src="@ViewBag.karekodimage" alt="QR Kod" style="width:400px; height:400px;"/>
            }
</div>

